<link rel="preconnect" href="https://adservice.google.com/">
<link rel="preconnect" href="https://googleads.g.doubleclick.net/">
<link rel="preconnect" href="https://www.googletagservices.com/">
<link rel="preconnect" href="https://tpc.googlesyndication.com/">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//ssl.google-analytics.com">
<link rel="dns-prefetch" href="//pagead2.googlesyndication.com">
<link rel="dns-prefetch" href="//googleads.g.doubleclick.net">
<link rel="dns-prefetch" href="//tpc.googlesyndication.com">
<link rel="dns-prefetch" href="//stats.g.doubleclick.net">
<link rel="dns-prefetch" href="//www.gstatic.com">

<script data-ad-client="ca-pub-5659963957549282" async defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<link rel="preconnect" href="https://cdnjs.buymeacoffee.com/">
<link rel="dns-prefetch" href="//cdnjs.buymeacoffee.com">
<script data-name="BMC-Widget" data-cfasync="false" async defer src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="vanpariyar" data-description="Support me on Buy me a coffee!" data-message="Let's educate poor students !!!" data-color="#FF5F5F" data-position="Right" data-x_margin="18" data-y_margin="30"></script>